body {
   background-color: #79B4B7;
}
hr {
  background-color: #79B4B7;
  border-style: none;
  border-top-style: dotted;
  width: 40px;
  border-width: 5px;
  border-color: #FEFBF3;
}

h1 {
  color: #F8F0DF;
}
.demo {
  color: #9D9D9D;
}
